body {
    margin: 200px;
}

mo {

    color: red;
    background-color: aqua;
    font-size: 55px;
    border: 4px solid green;
    border-radius: 12px;



}
amod5 {
    color:indigo;
    font-size: 46px;
    border: 5px solid goldenrod;

}
